// @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Noto+Serif+TC:wght@500&family=Reem+Kufi&display=swap");

// @font-face {
//   font-family: "NotoSansCJKtc";
//   src: url("../fonts/NotoSansCJKtc-DemiLight.otf");
//   font-weight: normal;
// }

// @font-face {
//   font-family: "NotoSansCJKtc M";
//   src: url("../fonts/NotoSansCJKtc-Medium.otf");
//   font-weight: 700;
// }

// @font-face {
//   font-family: "NotoSansCJKtc";
//   src: url("../fonts/NotoSansCJKtc-Bold.otf");
//   font-weight: bold;
// }

body,
html {
  width: 100%;
  overflow-x: hidden;
  background-image: linear-gradient(to top, #f7faff, #d9f4ff);

  &.scrollHide {
    overflow-y: hidden;
  }
}

#app {
  padding-top: 100px;
  min-height: 100vh;

  @media screen and (max-width: 767px) {
    padding-top: 60px;
  }
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
  font-weight: normal;
  font-family: "Microsoft JhengHei", "微軟正黑體", "Microsoft YaHei", sans-serif;
  // font-family: "NotoSansCJKtc";
}

b {
  font-weight: bold;
}

.W1280 {
  width: calc(100% - 60px);
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    width: calc(100% - 40px);
  }
}

.W1060 {
  width: calc(100% - 60px);
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    width: calc(100% - 40px);
  }
}

.W630 {
  width: calc(100% - 60px);
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    width: calc(100% - 20px);
  }
}

.W520 {
  width: calc(100% - 60px);
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    width: calc(100% - 40px);
  }
}

.W400 {
  width: calc(100% - 60px);
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    width: calc(100% - 40px);
  }
}

.W300 {
  width: calc(100% - 60px);
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    width: calc(100% - 40px);
  }
}

.W10 {
  width: 10%;
}

.W11 {
  width: 11%;
}

.W12 {
  width: 12%;
}

.W13 {
  width: 13%;
}

.W14 {
  width: 14%;
}

.W15 {
  width: 15%;
}

.W16 {
  width: 16%;
}

.W18 {
  width: 18%;
}

.W19 {
  width: 19%;
}

.W20 {
  width: 20%;
}

.W25 {
  width: 25%;
}

.W30 {
  width: 30%;
}

.W33 {
  width: 33%;
}

.W50 {
  width: 50%;
}

.W67 {
  width: 67%;
}

.W80 {
  width: 80%;
}

.W100 {
  width: 100%;
}

.f11 {
  font-size: 11px;
}

.f12 {
  font-size: 12px;
}

.f14 {
  font-size: 14px !important;
  line-height: 1.7;
}

.f16 {
  font-size: 16px;
  line-height: 1.5;
}

.f18 {
  font-size: 18px;
}

.f19 {
  font-size: 19px !important;
}

.f22 {
  font-size: 22px;
}

.f24 {
  font-size: 24px !important;
}

.f26 {
  font-size: 26px !important;
}

.f30 {
  font-size: 30px !important;
}

.f32 {
  font-size: 32px !important;
}

.f36 {
  font-size: 36px;
}

.f40 {
  font-size: 40px;
}

.f100 {
  font-size: 90px;
}

.t_left {
  text-align: left;
}

.t_right {
  text-align: right !important;
}

.bg_blue {
  background-color: #22395b;
}

.bg_white {
  background-color: #fff;
}

.bg_cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.poA {
  position: absolute;
}

.opa0 {
  opacity: 0;
}

.opa1 {
  opacity: 1;
}

.f_white {
  color: #fff;
}

.f_black {
  color: #000;
}

.f_grey {
  color: #959595;
}

.f_grey_dark {
  color: #4c4948;
}

.f_blue {
  color: #49c4e5;
}

.f_red {
  color: rgba(232, 57, 57, 0.765);
}

.f_pink {
  color: #ec64a3 !important;
}

.f_b {
  font-weight: bold;
}

.t_center {
  text-align: center;
}

.t_left {
  text-align: left;
}

.d_flex {
  display: flex !important;
  flex-wrap: wrap;
}

.d_block {
  display: block;
}

.d_none {
  display: none;
}

.d_inline {
  display: inline !important;
}

.br20 {
  border-radius: 20px;
}

.ml0 {
  margin-left: 0 !important;
}

.mr20 {
  margin-right: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

.mt10 {
  margin-top: 10px;
}

.mb0 {
  margin-bottom: 0px;
}

.mb17 {
  margin-bottom: 17px !important;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt80 {
  margin-top: 80px;
}

.pl5 {
  padding-left: 5px;
}

.mb {
  display: none !important;
}

.pc {
  display: inline-block !important;

  @media screen and (max-width: 599px) {
    display: none !important;
  }
}

.ham {
  display: none;
}

.title {
  margin-bottom: 30px;
  font-size: 36px;
  color: #49c4e5;
  text-align: center;
  line-height: 1.4;
  font-weight: bold;

  @media screen and (max-width: 767px) {
    font-size: 27px;
    margin-bottom: 20px;
  }

  &.must_filled {
    &:after {
      content: "*必填";
      color: #49c4e5;
      font-size: 11px;
      padding-left: 10px;
    }
  }

  &.underline {
    border-bottom: #49c4e5 solid 1px;
    padding-bottom: 18px;
    display: inline-block;
  }
}

* {
  &.filled,
  &.filled_no_text {
    &:after {
      content: "*";
      color: #49c4e5;
      font-size: 11px;
      padding-left: 4px;
    }
  }
}

.price {
  &::before {
    content: "NT$";
    padding-right: 3px;
  }
}

.pages {
  margin: 60px 0 40px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  li {
    color: #49c4e5;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0 10px;
    // font-family: "NotoSansCJKtc M";
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    &.active {
      color: #fff;
      background-color: #49c4e5;
    }

    img {
      width: 13px;
      margin: 5px auto;
    }
  }
}

.wrapper {
  padding: 40px 30px;
  background-color: #fff;
  box-shadow: 0px 7px 14.7px 1.3px rgba(75, 143, 178, 0.15);
  border-radius: 22px;

  @media screen and (max-width: 767px) {
    padding: 30px 20px;
  }

  &.pd80 {
    padding-top: 80px;
    padding-bottom: 80px;

    @media screen and (max-width: 767px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &.pd130 {
    padding-top: 130px;
    padding-bottom: 130px;

    @media screen and (max-width: 767px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &.pd150 {
    padding-top: 150px;
    padding-bottom: 150px;

    @media screen and (max-width: 767px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}

#header {
  background-color: #fff;
  box-shadow: 0px 1px 9.4px 0.6px rgba(0, 0, 0, 0.18);
  width: 100%;
  z-index: 100;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  @media screen and (max-width: 1050px) {
    height: 60px;
  }

  .W1280 {
    margin: 0 auto;
    padding: 23px 0 0;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: calc(100% - 30px);

    @media screen and (max-width: 1050px) {
      padding: 16px 0;
    }

    .logo {
      width: 134px;
      position: relative;
      z-index: 50;
      margin-top: -25px;
      @media screen and (max-width: 1700px) {
        margin-top: 0;
      }
      @media screen and (max-width: 1050px) {
        margin-top: -5px;
      }

      @media screen and (max-width: 599px) {
        width: 120px;
        margin-top: 0;
      }
    }

    .menu-open-button {
      display: none;
      position: absolute;
      right: 0px;
      top: 5px;
      z-index: 2;
      width: 50px;
      height: 50px;

      @media screen and (max-width: 1050px) {
        display: block;
      }

      .hamburger {
        width: 25px;
        height: 1px;
        background: #49c4e5;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -12px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;

        $hamburger-spacing: 8px;

        &.hamburger-1 {
          transform: translate3d(0, -$hamburger-spacing, 0);
        }

        &.hamburger-2 {
          transform: translate3d(0, 0, 0);
        }

        &.hamburger-3 {
          transform: translate3d(0, $hamburger-spacing, 0);
        }
      }

      &.active {
        .hamburger {
          background: #959595;

          &.hamburger-1 {
            transform: translate3d(0, 0, 0) rotate(45deg);
          }

          &.hamburger-2 {
            transform: translate3d(0, 0, 0) scale(0.1, 1);
          }

          &.hamburger-3 {
            transform: translate3d(0, 0, 0) rotate(-45deg);
          }
        }
      }
    }
  }

  .nav {
    @media screen and (max-width: 1050px) {
      flex-direction: column;
      position: fixed;
      top: 60px;
      left: 0;
      width: 100%;
      height: calc(100vh - 60px);
      background-color: #fff;
      transition: transform 0.3s;
      transform: translate(-100%, 0);
      opacity: 0;
      z-index: -1;
      &.active {
        transform: translate(0, 0);
        opacity: 1;
        z-index: 11;
      }
    }

    > li {
      line-height: 50px;
      cursor: pointer;
      display: inline-block;
      padding: 0 25px 0 5px;
      margin: 0 15px;

      @media screen and (max-width: 1100px) {
        margin: 0 10px;
      }

      // .dropdown {
      //   display: none;
      //   width: 100vw;
      //   left: 0;
      //   top: auto;
      //   background: #49c4e5;
      //   // opacity: 0;
      //   top: 100px;
      //   z-index: 5;
      //   position: fixed;
      //   text-align: left;
      //   padding: 20px 0 30px;

      //   &.white {
      //     background: #fff;
      //     text-align: center;
      //     li {
      //       display: inline-block;
      //     }
      //   }

      //   .d_flex {
      //     justify-content: center;

      //     li {
      //       margin-right: 64px;
      //       list-style: disc;
      //       color: #fff;
      //       padding: 0 5px;

      //       a {
      //         color: #fff;
      //         line-height: 1.6;
      //         margin-bottom: 10px;
      //         padding-bottom: 5px;

      //         &.hover {
      //           display: table;
      //           border-bottom: 1.5px solid transparent;

      //           &:hover {
      //             border-bottom: 1.5px solid #fff;
      //           }
      //         }
      //       }
      //     }
      //   }

      //   @media screen and (max-width: 1050px) {
      //     position: relative;
      //     display: block;
      //     width: auto;
      //     background-color: #fff;
      //     top: 0;
      //     padding: 10px 0 10px 20px;

      //     .d_flex {
      //       // flex-direction: column;
      //       justify-content: space-evenly;

      //       li {
      //         list-style: none;
      //         line-height: 30px;
      //         width: calc(50% - 10px);
      //         margin-right: 0;

      //         h5 {
      //           display: none;
      //         }

      //         a {
      //           color: #999;

      //           &::before {
      //             content: "";
      //             display: inline-block;
      //             background-color: #999;
      //             height: 10px;
      //             width: 10px;
      //             margin-right: 5px;
      //           }
      //         }
      //       }
      //     }
      //   }
      // }

      @media screen and (min-width: 769px) {
        &:hover {
          p {
            color: #47c3e4;
          }
        }
      }

      @media screen and (max-width: 1270px) {
        padding: 0 8px;
        margin: 0 8px;
      }

      @media screen and (max-width: 1050px) {
        text-align: center;
        margin: 0 30px;
        border-bottom: 1px solid #ccc;
        line-height: 60px;
        width: calc(100% - 60px);
        padding-right: 0 !important;

        &:last-child {
          border-color: transparent;
        }
      }

      &.has_sub {
        background-repeat: no-repeat;
        background-size: 13px;
        background-position: right top 22px;
        background-image: url(../images/ic-arrow-01.png);
        position: relative;
        @media screen and (max-width: 767px) {
          background-position: right 30px center;
        }
      }

      * {
        color: #656565;
        font-size: 16px;
      }

      p {
        display: inline-block;
        position: relative;
        justify-content: center;
        align-items: center;
      }

      font {
        display: block;
        font-size: 12px;
        transform-origin: left bottom;
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        white-space: nowrap;
      }

      &.sub_nav_btn {
        position: relative;

        img {
          right: 10px;
          top: 20px;
          width: 15px;
          transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transition: all 0.3s;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
        }

        &.active {
          img {
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
          }
        }
      }

      &.open_sub {
        position: relative;
        background-image: url(../images/ic-arrow-01.png);
        background-repeat: no-repeat;
        background-size: 13px;
        background-position: right top 22px;
        padding-right: 20px;
        ul {
          background: rgba(255, 255, 255, 0.9);
          box-shadow: none;
          width: 120px;
          position: absolute;
          top: 100%;
          left: -15px;
          z-index: 1000;
          display: none;
          float: left;
          font-size: 14px;
          text-align: center;
          list-style: none;
          padding-bottom: 5px;

          &.vip {
            width: 170px;
            left: -20px;
          }

          li {
            padding: 0;
            position: relative;
            @media screen and (max-width: 1050px) {
              &::after {
                content: "|";
                position: absolute;
                right: -4px;
                top: 0;
                color: #ccc;
              }
              &:last-child {
                &::after {
                  display: none;
                }
              }
            }
            @media screen and (min-width: 769px) {
              &:hover {
                color: #47c3e4;
                a {
                  color: #47c3e4;
                }
              }
            }
          }
          &.active {
            display: block;
          }

          @media screen and (max-width: 1050px) {
            position: relative;
            top: 0;
            left: 0 !important;
            width: 100% !important;
            background-color: #f4f4f4;
            padding-bottom: 0;
            margin-bottom: 10px;
            li {
              width: 100px;
              display: inline-block;
            }
          }
        }
      }
    }

    .sub_nav {
      background-color: #303131;
      width: 100%;
      height: 0;
      overflow: hidden;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;

      &.active {
        height: 110px;
      }
    }

    .notify {
      top: -10px;
      right: -10px;
      @media screen and (max-width: 1050px) {
        right: -25px;
        top: 5px;
      }
    }
  }
}

#footer {
  background-color: #47c3e4;
  background-image: url(../images/bg_footer.jpg);
  background-size: cover;
  background-position: center;
  padding: 100px 20px;

  @media screen and (max-width: 767px) {
    padding: 60px 30px 30px;
  }

  .footer_detail {
    width: 100%;
    max-width: 610px;
    margin: 0 auto;
    position: relative;
    text-align: center;
  }

  img {
    width: 170px;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      width: 140px;
    }
  }

  p {
    line-height: 1.5;
    margin: 40px auto 30px;

    @media screen and (max-width: 767px) {
      margin: 30px auto 20px;
    }
  }

  a {
    display: inline-block;
    padding: 0 5px;
  }
}

#fixed_panel {
  position: fixed;
  width: 70px;
  bottom: 60px;
  right: 30px;
  @media screen and (max-width: 767px) {
    width: 55px;
    right: 15px;
    bottom: 15px;
  }
}

@media screen and (max-width: 999px) {
  .mb {
    display: inline-block !important;
  }
}

@media screen and (max-width: 999px) {
  .f32 {
    font-size: 27px !important;
  }
}

@media screen and (max-width: 767px) {
  .f12 {
    font-size: 11px !important;
  }

  .f14 {
    font-size: 13px !important;
  }

  .f16 {
    font-size: 14px;
  }

  .f19 {
    font-size: 15px !important;
  }

  .f18 {
    font-size: 16px;
  }

  .f22 {
    font-size: 17px;
  }

  .f24 {
    font-size: 17px !important;
  }

  .f26 {
    font-size: 18px !important;
  }

  .f30 {
    font-size: 22px !important;
  }

  .f32 {
    font-size: 23px !important;
  }

  .f36 {
    font-size: 26px;
  }

  .f40 {
    font-size: 30px;
  }

  .f50 {
    font-size: 33px;
  }

  .f100 {
    font-size: 70px;
  }

  .W50 {
    width: 100%;
  }
}

.en {
  #header {
    height: 60px;

    .W1280 {
      padding: 16px 0;
      .logo {
        margin-top: -5px;

        @media screen and (max-width: 599px) {
          width: 120px;
          margin-top: 0;
        }
      }

      .menu-open-button {
        display: block;
      }
    }

    .nav {
      flex-direction: column;
      position: fixed;
      top: 60px;
      left: 0;
      width: 100%;
      height: calc(100vh - 60px);
      background-color: #fff;
      transition: all 0.3s;
      transform: translate(-100%, 0);

      &.active {
        transform: translate(0, 0);
      }

      > li {
        line-height: 50px;
        cursor: pointer;
        display: inline-block;
        padding: 0 8px;
        margin: 0 15px;

        @media screen and (max-width: 1100px) {
          margin: 0 auto;
        }

        .dropdown {
          position: relative;
          display: block;
          width: auto;
          background-color: #fff;
          top: 0;
          padding: 10px 0 10px 20px;
        }

        text-align: center;
        margin: 0 30px;
        border-bottom: 1px solid #ccc;
        line-height: 60px;
        width: calc(100% - 60px);

        &:last-child {
          border-color: transparent;
        }

        &.open_sub {
          ul {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #f4f4f4;
            padding-bottom: 0;
            li {
              width: 100px;
              display: inline-block;
              &::after {
                content: "|";
                position: absolute;
                right: -4px;
                top: 0;
                color: #ccc;
              }
              &:last-child {
                &::after {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }

  .login {
    .title {
      font-size: 31px;
      white-space: nowrap;
    }
  }
  .member {
    .basic_info {
      max-width: 500px;
      > .d_flex {
        span {
          width: 200px;
        }
        > input,
        select,
        .multi_input,
        .birthday {
          width: calc(100% - 220px);
        }
        @media screen and (max-width: 599px) {
          span {
            width: 100%;
            text-align: left;
            margin-bottom: 5px;
            .f_blue {
              margin: 2px 0 0;
            }
          }
          > input,
          select,
          .multi_input,
          .birthday {
            width: 100%;
            .iti {
              width: 100%;
            }
          }
        }
      }
    }
    .sub_account {
      .d_flex {
        span {
          width: 65px !important;
          @media screen and (max-width: 767px) {
            width: 100% !important;
            margin-bottom: 10px;
          }
          &.sm {
            width: 50px !important;
            @media screen and (max-width: 767px) {
              width: 100% !important;
            }
          }
        }
        input {
          width: calc(45% - 160px);
        }
        &.account_item {
          > input {
            @media screen and (max-width: 767px) {
              width: 100% !important;
            }
          }
        }
      }
    }
    .agent_btn_area {
      @media screen and (max-width: 767px) {
        padding-left: 0 !important;
      }
    }
  }
}

.notify {
  background-color: #49c4e5;
  color: #fff !important;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  width: 20px;
  font-size: 12px !important;
  display: block;
  position: absolute;
}

.swal2-popup {
  width: 280px !important;
  .swal2-styled {
    height: 44px;
    border-radius: 22px !important;
    padding: 0 30px;
    -webkit-border-radius: 22px !important;
    -moz-border-radius: 22px !important;
    -ms-border-radius: 22px !important;
    -o-border-radius: 22px !important;
  }
}
.swal2-html-container {
  padding-top: 10px !important;
  // color: #47c3e4 !important;
}
