button,
.btn,
input[type="submit"] {
  border: none;
  background-color: #49c4e5;
  border: 1px solid #49c4e5;
  line-height: 41px;
  height: 44px;
  border-radius: 22px;
  font-size: 18px;
  display: block;
  color: #fff;
  width: 100%;
  margin-bottom: 17px;
  text-align: center;

  cursor: pointer;

  span {
    font-family: "NotoSansCJKtc M";
    padding-right: 25px;
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url(../images/ic-arrow-02.png);
    color: #fff;
  }

  &.light {
    background-color: #fff;
    color: #49c4e5;

    a {
      display: inherit;
    }

    span {
      color: #49c4e5;
      padding-right: 0;
      padding-left: 25px;
      background-repeat: no-repeat;

      background-position: left center;
      background-image: url(../images/ic-arrow-08.png);
    }
  }
}

input,
select,
textarea {
  -webkit-appearance: none;
  padding: 10px 20px 12px;
  border: 1px solid #959595;
  color: #656565;
  line-height: 20px;
  border-radius: 22px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 17px;

  @media screen and (max-width: 767px) {
    padding: 8px 12px 10px;
  }

  &[type="checkbox"],
  &[type="radio"] {
    padding: 0;
    width: 20px;
    height: 20px;
    border-color: #000;
    margin: 0 10px 0 0;

    &:checked {
      border-color: #49c4e5;
      background-color: #49c4e5;
    }

    &:disabled {
      border-color: #ddd;
      background-color: #ddd;

      + label {
        opacity: 0.4;
      }
    }
  }

  &.ico {
    padding-left: 42px;
    background-position: left 10px center;
    background-repeat: no-repeat;
    background-size: 24px;

    &.mail {
      background-image: url(../images/ic-mail.png);
    }

    &.pw {
      background-image: url(../images/ic-pw.png);
      background-size: 21px;
      background-position: left 13px center;
    }

    &.phone {
      background-image: url(../images/ic-phone.png);
      background-size: 21px;
      background-position: left 13px center;

      @media screen and (max-width: 767px) {
        background-size: 15px;
        background-position: left 15px center;
      }
    }
  }

  &#datepicker {
    background-repeat: no-repeat;
    background-image: url(../images/ic_calender.png);
    background-size: 21px;
    background-position: right 17px center;
  }
}

select {
  background-color: #fff;
  background-image: url(../images/ic-arrow-01.png);
  background-size: 16px;
  background-position: right 13px center;
  background-repeat: no-repeat;
  padding: 10px 25px 12px 20px;
}

::placeholder {
  color: #959595;
}

.W14 {
  width: 14%;
}

.W19 {
  width: 19%;
}

.W22 {
  width: 22%;
}

.W23 {
  width: 23%;
}

.login,
.forget_pw,
.contract,
.contract_detail,
.reserved,
.booking_list {
  margin-top: 110px;
  margin-bottom: 110px;

  @media screen and (max-width: 767px) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.login_area {
  a {
    line-height: 42px;
    height: 44px;
    width: 100%;
    border-radius: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 17px;

    img {
      height: 26px;
      margin-right: 10px;
    }

    &:first-child {
      border: solid 1px #959595;
    }

    &:nth-child(2) {
      background-color: #039be5;
    }

    &:last-child {
      background-color: #00c300;
    }
  }

  &_sm {
    justify-content: center;

    a {
      width: 56px;
      height: 56px;
      border-radius: 28px;
      -webkit-border-radius: 28px;
      -moz-border-radius: 28px;
      -ms-border-radius: 28px;
      -o-border-radius: 28px;
      position: relative;
      margin: 0 8px;

      &:first-child {
        border: solid 1px #aaa;
      }

      &:nth-child(2) {
        background-color: #039be5;
      }

      &:last-child {
        background-color: #00c300;
      }

      img {
        width: 39px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
      }
    }
  }
}

.or {
  text-align: center;
  color: #999999;
  border-bottom: 1px solid #959595;
  height: 10px;
  overflow: visible;
  margin: 30px auto 40px;

  font {
    background-color: #fff;
    padding: 0 10px;
  }
}

.bread {
  color: #707070;
  line-height: 25px;
  vertical-align: text-top;
  margin-bottom: 30px;
  margin-left: -10px;

  a {
    margin-right: 10px;
    margin-left: 10px;

    @media screen and (max-width: 767px) {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}

.login {
  .d_flex {
    justify-content: space-between;
  }
}

.forget_pw {
  p {
    margin-bottom: 15px;
    font-family: "NotoSansCJKtc M";
  }

  button {
    margin-top: 23px;
  }
}

.contract {
  form {
    max-width: 310px;

    @media screen and (max-width: 767px) {
      width: 100%;
    }

    > .d_flex {
      margin-bottom: 17px;
      padding-left: 35px;
      position: relative;
      line-height: 1.5;

      input {
        position: absolute;
        top: 4px;
        left: 0;
      }

      label {
        padding-right: 4px;
        font-family: "NotoSansCJKtc M";
      }

      a {
        padding: 0;
        font-family: "NotoSansCJKtc M";
      }
    }

    hr {
      margin-bottom: 17px;
    }

    button {
      margin-top: 30px;
    }
  }
}

.contract_detail {
  @media screen and (max-width: 767px) {
    .title {
      font-size: 24px;
    }

    .W1060 {
      width: 100%;
    }
  }

  .scroll {
    height: 400px;
    overflow-y: scroll;
    padding: 10px 20px;

    @media screen and (max-height: 700px) {
      height: 300px;
    }
  }

  ul {
    li {
      display: block;
      list-style-type: disc;
      margin-bottom: 17px;
    }
  }

  button {
    margin: 50px auto -50px;

    @media screen and (max-width: 767px) {
      margin: 30px auto 0;
    }
  }
}

.healthForm_detail {
  width: calc(100% - 60px);
  max-width: 880px;
  margin: 40px auto;
  padding-left: 40px;
  padding-right: 40px;
  @media screen and (max-width: 767px) {
    width: calc(100% - 40px);
    padding-left: 20px;
    padding-right: 20px;
  }
  .form {
    max-width: 720px;
  }
  .sub_tilte {
    min-width: 75px;
  }

  input {
    padding: 10px 10px 12px;
    margin-bottom: 0;

    &[type="tel"],
    &[type="text"] {
      width: auto;
      border-radius: 0;
      border-top: none;
      border-left: 0;
      border-right: 0;
    }
    &.sm_input {
      width: 80px;
      @media screen and (max-width: 767px) {
        width: 50px;
      }
    }
  }

  textarea {
    border-radius: 0;
    border-top: none;
    border-left: 0;
    border-right: 0;
    margin-bottom: 0;
  }

  .d_flex {
    flex-direction: row;
    align-items: center;
    @media screen and (max-width: 767px) {
      &.wrap33 {
        justify-content: space-between;
      }
    }
    &.Q {
      margin-bottom: 25px;
      @media screen and (max-width: 767px) {
        > .d_flex {
          width: 100%;
          margin-top: 10px;
        }
      }
    }
    &.W100 {
      line-height: 1.5;

      span {
        padding-right: 5px;
      }
      input {
        &[type="checkbox"],
        &[type="radio"] {
          margin-left: 10px;
          margin-right: 5px;
          @media screen and (max-width: 767px) {
            margin-left: 0;
          }
        }
      }
    }
    .W50 {
      input {
        width: calc(100% - 80px);
      }
    }
    .W33 {
      margin-top: 10px;
      @media screen and (max-width: 999px) {
        width: calc(50% - 15px) !important;
      }

      @media screen and (max-width: 400px) {
        width: 100% !important;
      }
    }
    textarea {
      margin-top: 10px;
    }

    .ml10 {
      margin-left: 10px;
    }

    .d_f_g2 {
      flex-grow: 2;
    }
  }
}

.plan {
  margin-top: 80px;
  margin-bottom: 80px;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  > * {
    background-color: #fff;
    box-shadow: 0px 7px 14.7px 1.3px rgba(75, 143, 178, 0.15);
  }

  .free,
  .enterprise {
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    overflow: hidden;
    width: calc(25% - 10px);

    @media screen and(max-width: 999px) {
      width: 100%;
      margin-bottom: 30px;

      .detail {
        padding-bottom: 20px;
      }
    }

    .input_area {
      padding-left: 20px;
      padding-right: 20px;
    }

    a {
      background-color: #41dac5;
      border: 1px solid #41dac5;
      margin-top: 60px;

      @media screen and (max-width: 767px) {
        margin-top: 30px;
      }
    }

    ul {
      padding: 0 40px;
      margin-top: 60px;

      @media screen and (max-width: 767px) {
        margin-top: 30px;
        padding: 0 30px 0 20px;
      }
    }
  }

  .vip {
    width: calc(50% - 10px);
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    overflow: hidden;

    @media screen and (max-width: 999px) {
      width: 100%;
      margin-bottom: 30px;
    }

    .upper {
      position: relative;
      overflow: visible;

      h6 {
        background-color: #fff;
        display: inline-block;
        padding: 0 30px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        line-height: 53px;
        border-radius: 27px;
        color: #49c4e5;
        letter-spacing: 1px;
        font-weight: bold;
        z-index: 1;
        box-shadow: 0px 3px 10.1px 0.9px rgba(75, 143, 178, 0.25);

        @media screen and (max-width: 767px) {
          line-height: 45px;
          height: 48px;
          padding: 0 15px;
          width: fit-content;
        }
      }
    }

    .detail {
      line-height: 1.5;

      .W100 {
        background-color: #ebf9fc;
        position: relative;
        padding: 60px 38px;
        justify-content: space-between;

        @media screen and (max-width: 767px) {
          padding: 30px 19px 0;
        }

        .W50 {
          padding-top: 5px;
          width: calc(50% - 45px);
          text-align: center;

          @media screen and (max-width: 767px) {
            width: 100%;
            margin: 30px 0 50px;
          }

          p.f19 {
            min-height: 60px;
            margin-bottom: 20px;

            @media screen and (max-width: 767px) {
              min-height: auto;
            }
          }

          b.f24 {
            // &:before {
            //   content: "";
            //   display: block;
            //   width: 14px;
            //   height: 14px;
            //   border-radius: 50%;
            //   background-color: #fff;
            //   position: absolute;
            //   left: -25px;
            //   top: 11px;
            //   box-shadow: 0 0 6px #49c3e5;

            //   @media screen and (max-width: 767px) {
            //     width: 11px;
            //     height: 11px;
            //     top: 7px;
            //   }
            // }
          }
        }

        > span {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 27px;
          height: 27px;
          line-height: 25px;
          background-color: #49c4e5;
          color: #fff;
          border-radius: 50%;
          text-align: center;

          &::before,
          &::after {
            content: "";
            height: 70px;
            width: 2px;
            display: block;
            background-color: #49c4e5;
            position: absolute;
            left: 50%;
            margin-left: -1px;

            @media screen and (max-width: 767px) {
              height: 1px;
              width: calc(50vw - 60px);
            }
          }

          &::before {
            top: 0;
            transform: translate(0, -100%);

            @media screen and (max-width: 767px) {
              left: 2px;
              top: 50%;
              transform: translate(-100%, 0);
              -webkit-transform: translate(-100%, 0);
              -moz-transform: translate(-100%, 0);
              -ms-transform: translate(-100%, 0);
              -o-transform: translate(-100%, 0);
            }
          }

          &::after {
            bottom: 0;
            transform: translate(0, 100%);

            @media screen and (max-width: 767px) {
              left: 100%;
              top: 50%;
              transform: translate(0, 0);
              -webkit-transform: translate(0, 0);
              -moz-transform: translate(0, 0);
              -ms-transform: translate(0, 0);
              -o-transform: translate(0, 0);
            }
          }
        }
      }

      ul {
        padding: 40px 30px;
        justify-content: space-between;

        @media screen and (max-width: 767px) {
          padding: 30px 30px 30px 20px;
        }

        li {
          width: calc(33% - 10px);

          &:first-child {
            width: calc(34% - 10px);
          }

          &:last-child {
            width: calc(32% - 10px);
          }

          @media screen and (max-width: 767px) {
            width: 100% !important;
          }
        }
      }
    }
  }

  .upper {
    height: 275px;
    width: 100%;
    padding: 63px 0;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

    @media screen and (max-width: 767px) {
      background-position: right 20% center;
      padding: 40px 0;
      height: auto;
    }

    h2 {
      font-size: 40px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 2px solid #fff;
      display: inline-block;
      font-family: "NotoSansCJKtc M";

      @media screen and (max-width: 767px) {
        font-size: 30px;
      }
    }

    h4 {
      font-size: 34px;
      font-family: "Reem Kufi", sans-serif;
      letter-spacing: 3px;

      @media screen and (max-width: 767px) {
        font-size: 27px;
      }

      font {
        font-size: 80px;
        line-height: 1;
        font-family: "Reem Kufi", sans-serif;
        letter-spacing: 4px;
        padding: 0 3px 0 5px;

        @media screen and (max-width: 767px) {
          font-size: 47px;
          letter-spacing: 0px;
        }
      }
    }
  }

  .detail {
    line-height: 1.4;

    a {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }

    b.f24 {
      margin-bottom: 8px;
      display: block;
      position: relative;
      display: inline-block;
      font-family: "NotoSansCJKtc M";
    }

    p.f19 {
      color: #535353;
    }

    li {
      position: relative;
      // padding-left: 30px;
      margin-bottom: 30px;

      @media screen and (max-width: 767px) {
        margin-bottom: 20px;
      }
    }
  }

  .btn {
    max-width: 337px;
    width: calc(100% - 40px);
  }
}

.plan_once {
  .free {
    @media screen and(min-width: 1000px) {
      width: calc(33% - 10px);
    }
  }

  .vip {
    @media screen and(min-width: 1000px) {
      width: calc(67% - 10px);
    }
  }
}

.subscription {
  margin-top: 110px;
  justify-content: space-between;
  padding: 38px;
  margin-bottom: 110px;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 38px 20px;
  }

  .title {
    text-align: left;
  }

  .info {
    width: calc(100% - 425px);
    font-size: 16px;

    @media screen and (max-width: 999px) {
      width: 100%;
    }

    > div {
      width: 100%;
      text-align: center;
      align-items: center;

      &.t_right {
        padding: 30px 0;
        border-bottom: solid 1px #c9c9c9;
      }
    }

    .th {
      background-color: rgba(73, 196, 229, 0.3);
      line-height: 42px;

      * {
        font-family: "NotoSansCJKtc M";
      }

      @media screen and (max-width: 767px) {
        display: none !important;
      }
    }

    .td {
      padding: 18px 0;
      border-bottom: solid 1px #49c4e5;

      @media screen and (max-width: 767px) {
        border-top: solid 1px #49c4e5;
      }

      select {
        margin-bottom: 0 !important;
      }

      div {
        padding: 0 5px;
        line-height: 24px;

        &.ps_pc {
          display: block;
          color: #959595;
        }

        &.ps_mb {
          display: none;
          color: #959595;
        }

        @media screen and (max-width: 767px) {
          &.W23,
          &.W22 {
            width: 100%;
            text-align: left;
            margin-bottom: 10px;
          }

          &.W14 {
            width: 50%;
            text-align: left;
          }

          &.W19 {
            width: 50%;
            text-align: right;
          }

          select {
            width: 200px;
          }

          &.ps_pc {
            display: none;
          }

          &.ps_mb {
            display: block;
          }
        }
      }
    }

    .personal_info,
    .bill_info {
      margin-top: 38px;
      border-bottom: solid 1px #c9c9c9;
      padding-bottom: 20px;

      .d_flex {
        justify-content: space-between;

        .W50 {
          width: calc(50% - 20px);
          display: flex;
          align-items: baseline;

          @media screen and (max-width: 767px) {
            width: 100%;
          }

          span {
            width: 90px;
            display: inline-block;
            text-align: left;
          }

          input,
          .multi_input {
            width: calc(100% - 90px);
            // margin-left: 10px;
          }
        }

        .W33,
        .W67 {
          width: calc(33.33% - 10px);
          align-items: baseline;

          @media screen and (max-width: 767px) {
            width: 100%;
          }

          span {
            width: 90px;
            display: inline-block;
            text-align: left;
          }

          select,
          input {
            width: calc(100% - 110px);
            flex-grow: 3;

            @media screen and (max-width: 767px) {
              width: calc(100% - 90px);
            }
          }
        }

        .W67 {
          width: calc(67.5% - 10px);

          @media screen and (max-width: 767px) {
            width: 100%;
          }
        }

        input#cellphone {
          margin-left: 48px;
          width: calc(100% - 49px) !important;
          padding-left: 15px;
        }

        .iti.iti--allow-dropdown {
          width: calc(100% - 90px);
          position: relative;

          @media screen and (max-width: 767px) {
            margin-bottom: 17px;
          }
        }
      }

      .bill_area {
        margin-bottom: 17px;

        * {
          display: inline-block;
          line-height: 30px;
          vertical-align: middle;
        }
      }

      .bill_detail {
        display: none !important;

        &.show {
          display: flex !important;
        }
      }
    }

    .health_card {
      margin-top: 38px;
      margin-bottom: 28px;

      .d_flex {
        align-items: center;
      }

      input {
        width: 28%;
        margin-bottom: 0;
        text-align: center;
      }

      font {
        width: 3%;
        margin: 0 2.33%;
        height: 1px;
        background-color: #959595;
      }
    }
  }

  .cost {
    width: 380px;
    background-color: #e6e6e6;
    padding: 30px 30px 20px;
    height: fit-content;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    overflow: hidden;

    @media screen and (max-width: 999px) {
      width: 100%;
    }

    .d_flex {
      justify-content: space-between;
      margin-bottom: 17px;
    }

    .total {
      margin: 30px 0;
      padding: 20px 0;
      border-top: 1px #959595 solid;

      p {
        text-align: right;
      }

      font {
        font-weight: bold;
      }
    }
  }
}

.prescription,
.pres_index {
  margin-top: 20px;
  margin-bottom: 80px;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    margin-top: 0px;
    margin-bottom: 40px;
  }

  > p {
    line-height: 1.5;
    padding-bottom: 40px;
    padding-top: 60px;
  }

  .bg_white {
    background-color: #fff;
    box-shadow: 0px 7px 14.7px 1.3px rgba(75, 143, 178, 0.15);
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    overflow: hidden;
  }

  .medicine,
  .trans {
    @media screen and (max-width: 999px) {
      width: 100% !important;
      margin-bottom: 30px;
    }

    .f_grey {
      color: #898989;
    }

    .upper {
      padding: 45px 55px 0;
      text-align: center;

      @media screen and (max-width: 599px) {
        padding: 25px 35px 0;
      }

      h2 {
        padding-bottom: 20px;
      }
    }

    .detail {
      padding: 30px 55px 55px;
      justify-content: space-between;
      text-align: center;

      @media screen and (max-width: 599px) {
        padding: 30px 35px 35px;
      }

      h3 {
        height: 30px;
      }
    }

    .W50 {
      width: calc(50% - 30px);

      @media screen and (max-width: 599px) {
        width: 100%;

        &:last-child {
          margin-top: 40px;
        }
      }
    }
  }

  .medicine {
    width: calc(67% - 10px);

    h2 {
      color: #49c4e5;
      line-height: 1.5;
      border-bottom: 2px #49c4e5 solid;
    }
  }

  .trans {
    width: calc(33% - 10px);

    h2 {
      color: #13b5b1;
      line-height: 1.5;
      border-bottom: 2px #13b5b1 solid;
    }

    h3 {
      @media screen and (max-width: 599px) {
        height: 0 !important;
      }
    }

    a {
      background-color: #13b5b1;
    }
  }

  a {
    max-width: 305px;
    margin: 25px auto 0;
    line-height: 53px;
    height: 56px;
    border-radius: 27px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    -ms-border-radius: 27px;
    -o-border-radius: 27px;

    @media screen and (max-width: 599px) {
      margin: 15px auto 0;
      line-height: 45px;
      height: 48px;
    }

    span {
      font-size: 21px;

      @media screen and (max-width: 599px) {
        font-size: 17px;
      }
    }
  }
}

.pres_index {
  > .W50 {
    width: calc(50% - 10px);
    margin-bottom: 40px;

    &.d_flex {
      flex-direction: column;
    }

    @media screen and (max-width: 999px) {
      width: 100%;
      margin-bottom: 20px;
    }

    h2 {
      margin: 60px 0 30px;

      @media screen and (max-width: 599px) {
        margin: 30px 0 30px;
      }
    }

    .bg_white {
      padding: 30px;
      flex-grow: 2;

      @media screen and (max-width: 599px) {
        padding: 20px;
      }
    }

    .for_scroll {
      text-align: left;
      width: calc(100% - 10px);
      height: 780px;
      margin: 20px auto;
      overflow-y: scroll;

      @media screen and (max-width: 999px) {
        height: inherit;
      }

      @media screen and (max-width: 599px) {
        margin: 10px auto;
      }

      ul {
        margin-left: 22px;
      }

      li {
        list-style-type: square;
        margin-bottom: 20px;
        line-height: 1.5;
      }
    }
  }

  .btn {
    max-width: 305px;
  }
}

.multi_input {
  justify-content: space-between;
  margin-bottom: 0;

  .m1 {
    width: 90px;
    text-align: left;

    @media screen and (max-width: 767px) {
    }
  }

  .m2 {
    width: calc(100% - 100px) !important;

    // @media screen and (max-width: 767px) {
    //   width: calc(100% - 72px);

    // }
  }
}

.close {
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 2;
  width: 50px;
  height: 50px;
  cursor: pointer;

  .hamburger {
    width: 25px;
    height: 1px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12px;
    $hamburger-spacing: 8px;
    background: #959595;

    &.hamburger-1 {
      transform: translate3d(0, 0, 0) rotate(45deg);
    }

    &.hamburger-2 {
      transform: translate3d(0, 0, 0) scale(0.1, 1);
    }

    &.hamburger-3 {
      transform: translate3d(0, 0, 0) rotate(-45deg);
    }
  }
}

.reserved {
  text-align: center;

  @media screen and (max-width: 767px) {
    .W630 {
      width: 100%;
    }
  }

  .wait_line {
    padding: 48px 30px;
    margin: 24px auto;
    background-color: rgba(73, 196, 229, 0.1);
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    overflow: hidden;

    .line2 {
      padding-top: 12px;

      .f100 {
        font-weight: bold;
        padding-right: 10px;
      }
    }
  }

  .d_flex {
    justify-content: space-between;
  }

  .btn_area {
    margin-top: 60px;

    @media screen and (max-width: 599px) {
      margin-top: 30px;
    }
  }

  button {
    width: calc(50% - 10px);

    @media screen and (max-width: 767px) {
      width: calc(50% - 8px);
    }
  }
}

.member {
  margin-top: 110px;
  justify-content: space-between;
  padding: 38px;
  margin-bottom: 110px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px 20px 0;
  }

  .basic_info {
    max-width: 410px;
    width: calc(100% - 60px);
    margin-left: auto;
    margin-right: auto;

    > .d_flex {
      justify-content: space-between;
      margin-bottom: 17px;
      align-items: center;

      span {
        width: 80px;
        text-align: right;

        @media screen and (max-width: 767px) {
          width: 65px;
        }

        .f_blue {
          font-size: 11px;
          white-space: nowrap;
          display: block;
          margin-left: -40px;
          margin-top: 6px;
          margin-bottom: -10px;

          @media screen and (max-width: 767px) {
            white-space: normal;
            margin-left: 0;
            margin-top: 6px;
          }
        }
      }

      > input,
      select {
        width: calc(100% - 100px);
        justify-content: space-between;
        margin-bottom: 0;

        @media screen and (max-width: 767px) {
          width: calc(100% - 75px);
        }
      }

      .multi_input {
        width: calc(100% - 100px);

        @media screen and (max-width: 767px) {
          width: calc(100% - 75px);
        }

        .m1 {
          width: 90px;
          margin-bottom: 0;
        }

        .m2 {
          width: calc(100% - 100px);
          margin-bottom: 0;
        }
      }
    }
  }

  .sub_account {
    max-width: 680px;
    width: calc(100% - 60px);
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 767px) {
      width: 100%;
    }

    .d_flex {
      justify-content: space-between;
      margin-bottom: 17px;
      align-items: center;

      @media screen and (max-width: 767px) {
        // flex-direction: column;
        border-bottom: 1px solid #ccc;
        margin-bottom: 30px;
        padding-bottom: 10px;
      }

      span {
        width: 54px;

        &.sm {
          width: 43px;
        }

        @media screen and (max-width: 767px) {
          width: 54px;
          margin-bottom: 20px;
        }
      }

      input {
        width: calc(45% - 120px);
        justify-content: space-between;
        margin-bottom: 0;

        &.sm {
          width: calc(33% - 120px);
        }

        @media screen and (max-width: 767px) {
          width: calc(100% - 65px) !important;
          margin-bottom: 20px;
        }
      }
    }
  }

  .social_binding {
    p {
      text-align: center;
      margin: -13px 0 37px;
      color: #737373;
    }

    .d_flex {
      justify-content: space-around;
      margin-bottom: 52px;

      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }

      a {
        width: calc(25% - 15px);
      }
    }
  }

  .title {
    &.must_filled {
      text-indent: 30px;
    }
  }

  .btn {
    margin: 34px auto 52px;
    max-width: 300px;

    @media screen and (max-width: 767px) {
      margin: 30px auto 30px;
    }
  }

  hr {
    border: none;
    border-bottom: 1px solid #959595;
    display: block;
    height: 1px;
    width: 100%;
    margin-bottom: 43px;
  }
}

.register {
  margin: 90px auto;
  width: 100%;
  padding: 0 30px;
  text-align: right;
  position: relative;

  @media screen and (max-width: 599px) {
    margin: 40px auto;
  }

  .kv {
    position: absolute;
    right: 35%;
    height: 100%;
    max-width: inherit;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);

    @media screen and (max-width: 599px) {
      display: none;
    }
  }

  .W520 {
    border-radius: 15px;
    padding: 50px;
    display: inline-block;
    position: relative;
    z-index: 2;
    box-shadow: 2.4px 6.6px 14.7px 1.3px rgba(75, 143, 178, 0.15);

    @media screen and (max-width: 599px) {
      width: 100%;
      padding: 30px 20px;

      .title {
        font-size: 24px;
      }
    }

    .iti.iti--allow-dropdown {
      width: 100%;
      margin-bottom: 17px;
    }

    .t_left {
      line-height: 20px;
      margin-bottom: 17px;
      align-items: flex-start;

      label {
        width: calc(100% - 30px);
        a {
          display: initial;
          padding: 0 2px;
        }
      }
    }
  }
}

.booking_list {
  box-shadow: 0px 7px 14.7px 1.3px rgba(75, 143, 178, 0.15);
  padding: 37px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    padding: 30px 20px;
  }

  .title {
    text-align: left;
  }

  h5 {
    font-size: 23px;
    font-weight: bold;
    text-align: left;
    color: #ec64a3;
    margin-bottom: 20px;

    &::before {
      content: "ㄧ";
    }
  }

  .product,
  .consult {
    border-bottom: solid 1px #49c4e5;
    margin-bottom: 60px;

    @media screen and (max-width: 999px) {
      margin-bottom: 0;
    }
  }

  .product {
    @media screen and (max-width: 999px) {
      margin-top: 40px;
    }
  }

  .th {
    background-color: rgba(73, 196, 229, 0.3);
    line-height: 42px;
    text-align: center;

    @media screen and (max-width: 999px) {
      display: none !important;
    }

    * {
      font-family: "NotoSansCJKtc M";
    }
  }

  .td {
    padding: 10px 0;
    text-align: center;

    @media screen and (max-width: 999px) {
      padding: 0 20px 10px;

      > div {
        width: 100%;
        text-align: left;

        &::before {
          padding-right: 5px;
          display: inline-block;
          width: 85px;
        }
      }

      .number {
        @media screen and (max-width: 999px) {
          background-color: rgba(73, 196, 229, 0.3);
          width: calc(100% + 40px);
          margin: 0 -20px;
          padding-left: 20px;
          padding-right: 20px;
          margin-bottom: 5px;
          color: #000;
        }

        &::before {
          content: "訂單編號：";
        }
      }

      .date {
        &::before {
          content: "訂單日期：";
        }
      }

      .price {
        &::before {
          content: "訂單金額：";
        }
      }

      .status {
        &::before {
          content: "付款狀態：";
        }
      }

      .ship {
        &::before {
          content: "出貨狀態：";
        }
      }

      .verify {
        &::before {
          content: "付款證明：";
        }
      }

      .consult_record {
        &::before {
          content: "諮詢紀錄：";
        }
      }

      .service {
        &::before {
          content: "線上客服：";
        }
      }
    }

    &:nth-child(even) {
      background-color: rgba(230, 230, 230, 0.3);
    }

    select {
      margin-bottom: 0 !important;
    }

    div {
      line-height: 1.4;
      color: #777;
      padding: 8px 0;

      a {
        display: inline;

        &[download] {
          &:after {
            content: "";
            display: inline-block;
            width: 20px;
            height: 16px;
            margin-left: 4px;
            background-image: url(../images/ic_download.png);
            background-repeat: no-repeat;
            background-size: 15px;
            background-position: center;
          }
        }
      }
    }
  }
}

.product_list {
  padding-top: 90px;
  background-image: linear-gradient(to top, #f7faff, #d9f4ff);

  @media screen and (max-width: 599px) {
    padding-top: 30px;
  }

  .W1280 {
    @media screen and (max-width: 599px) {
      width: 100%;
    }
  }

  .tab {
    justify-content: center;
    margin-bottom: 50px;

    li {
      color: #535353;
      margin: 0;
      padding: 0 50px;
      line-height: 40px;
      position: relative;
      cursor: pointer;

      @media screen and (max-width: 599px) {
        width: 100%;
        padding: 0;
        border-bottom: 1px solid #ccc;
      }

      h6 {
        border-bottom: solid 2px transparent;
      }

      &.multi {
        h6 {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            right: -30px;
            display: inline-block;
            width: 20px;
            height: 40px;
            background-image: url(../images/ic-arrow-6.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 15px;

            @media screen and (max-width: 599px) {
              right: 0;
            }
          }
        }
      }

      .sub_list {
        display: none;
        width: 100%;
        left: 0;
        position: absolute;
        top: 50px;
        box-shadow: 0px 7px 14.7px 1.3px rgba(75, 143, 178, 0.15);
        background-color: rgba(71, 195, 228, 0.8);
        border-radius: 15px;
        padding: 10px;

        @media screen and (max-width: 599px) {
          position: relative;
          top: 0;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }

        a {
          color: #fff;
          text-align: center;
          line-height: 40px;
        }
      }

      &.active {
        color: #49c4e5;
        border-color: transparent;

        .sub_list {
          display: block;
        }

        h6 {
          border-bottom: solid 2px #49c4e5;
          font-family: "NotoSansCJKtc M";

          &::after {
            background-image: url(../images/ic-arrow-5.png);
          }
        }
      }
    }
  }

  .products {
    justify-content: space-between;

    .W25 {
      width: calc(25% - 10px);
      background-color: #eff8fe;
      padding: 30px 20px 10px;
      border-radius: 18px;
      box-shadow: 4.2px 4.2px 17.1px 1.9px rgba(75, 143, 178, 0.25);
      margin-bottom: 20px;

      @media screen and (max-width: 999px) {
        width: calc(33% - 10px);
      }

      @media screen and (max-width: 599px) {
        width: 100%;
      }

      .pic {
        margin-bottom: 30px;

        img {
          height: 200px;
          margin: 0 auto;

          @media screen and (max-width: 599px) {
            height: auto;
            width: 60%;
          }
        }
      }

      .detail {
        height: 90px;

        @media screen and (max-width: 599px) {
          height: auto;
        }

        h4 {
          line-height: 1.3;
          margin-bottom: 5px;
          font-family: "NotoSansCJKtc M";
        }

        p {
          margin-bottom: 20px;
        }
      }

      > .d_flex {
        justify-content: flex-start;
        align-items: baseline;

        h5 {
          color: #ec64a3;
          margin-right: 10px;

          b {
            font-weight: bold;
          }
        }

        font {
          text-decoration: line-through;
        }
      }

      a {
        margin-top: 20px;
      }
    }
  }
}

.p_detail {
  margin-top: 130px;

  @media screen and (max-width: 767px) {
    margin-top: 30px;
  }

  .upper {
    padding-bottom: 40px;

    .img {
      margin: 30px 0;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      @media screen and (max-width: 767px) {
        height: 200px;
      }
    }

    .detail {
      h1 {
        margin-bottom: 15px;
        font-weight: bold;
        letter-spacing: 0.3px;
      }

      h2 {
        margin-bottom: 30px;
        color: #434343;
      }

      p {
        color: #434343;
        margin-bottom: 15px;
      }

      h3 {
        color: #ec64a3;
        font-weight: bold;
        margin-bottom: 30px;
      }

      ul {
        margin-bottom: 50px;

        li {
          line-height: 1.4;
          margin-bottom: 8px;
          padding-left: 15px;

          &::before {
            content: "※";
            margin-left: -15px;
          }
        }
      }

      > div {
        justify-content: space-between;
        padding-right: 20px;

        @media screen and (max-width: 599px) {
          padding-right: 0;
        }

        .W40 {
          width: calc(40% - 10px);

          @media screen and (max-width: 767px) {
            width: 100%;
          }

          span {
            width: 45px;
          }

          select {
            margin-left: 20px;
            width: calc(100% - 65px);
            background-color: transparent;
          }
        }

        .W60 {
          width: calc(60% - 10px);

          @media screen and (max-width: 767px) {
            width: 100%;
          }
        }
      }
    }
  }

  .info {
    padding-top: 40px;
    border-top: solid 1px #ccc;

    .tab {
      text-align: center;
      margin-bottom: 40px;

      @media screen and (max-width: 767px) {
        display: inline-block;
        width: 100%;
      }

      li {
        color: #707070;
        border-bottom: 2px solid transparent;
        padding: 0;
        margin: 0 30px;
        line-height: 40px;
        display: inline-block;
        cursor: pointer;

        @media screen and (max-width: 767px) {
          width: 33.32%;
          margin: 0;
          float: left;
        }

        h6 {
          font-family: "NotoSansCJKtc M";
        }

        &.active {
          border-bottom: 2px solid #34b6e0;
          color: #34b6e0;

          h6 {
            font-family: "NotoSansCJKtc";
            font-weight: bold;
          }
        }
      }
    }

    .content {
      display: none;
      min-height: 300px;
      padding-bottom: 60px;
      line-height: 1.6;

      h6 {
        margin: 15px 0 25px;
      }

      ul {
        margin-bottom: 50px;
        justify-content: space-between;
        margin-left: 30px;

        li {
          position: relative;
          padding: 5px;
          line-height: 1.4;
          margin-bottom: 15px;
          width: calc(50% - 10px);

          @media screen and (max-width: 767px) {
            width: 100%;
          }

          &:before {
            content: "";
            display: block;
            width: 9px;
            height: 9px;
            border: solid 1.5px #fff;
            background-color: #49c4e5;
            border-radius: 50%;
            position: absolute;
            left: -25px;
            top: 11px;
            -webkit-box-shadow: 0px 0px 13px 5px #86def9;
            box-shadow: 0px 0px 13px 5px #86def9;
          }
        }
      }

      table {
        margin-top: 10px;
        margin-bottom: 20px;

        td {
          padding: 5px 0;
        }
      }
    }
  }
}

.lb {
  position: fixed;
  background-color: rgba(102, 102, 102, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;

  &.open {
    opacity: 1;
    z-index: 200;
  }

  .lb_content {
    border-radius: 22px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px 90px;

    @media screen and (max-width: 767px) {
      padding: 20px 20px 10px;
    }

    h4 {
      display: inline-block;
      padding-bottom: 10px;
      margin-bottom: 40px;
      border-bottom: solid 2px #47c3e4;

      @media screen and (max-width: 767px) {
        padding-bottom: 5px;
        margin-bottom: 20px;
      }
    }

    .d_flex {
      justify-content: space-between;

      .W50 {
        width: calc(50% - 10px);

        @media screen and (max-width: 767px) {
          width: calc(50% - 5px);

          &:not(button) {
            width: 100%;
          }
        }
      }
    }

    textarea {
      resize: none;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .btn_area {
      margin-top: 40px;

      @media screen and (max-width: 767px) {
        margin-top: 10px;
      }
    }

    .W520 {
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
  }
}

.online_service {
  position: fixed;
  right: 15px;
  bottom: 15px;
  border-radius: 15px;
  box-shadow: 0px 7px 14.7px 1.3px rgba(75, 143, 178, 0.35);
  width: 295px;
  border-radius: 15px;
  overflow: hidden;

  .bg_blue {
    background-color: #47c3e4;
    padding: 20px;
    line-height: 1.5;
    text-align: center;

    .close {
      transform: scale(0.65);
      -webkit-transform: scale(0.65);
      -moz-transform: scale(0.65);
      -ms-transform: scale(0.65);
      -o-transform: scale(0.65);
      transform-origin: right top;

      span {
        background-color: #fff;
      }
    }
  }

  .conversation {
    background-color: #fff;
    padding: 15px 12px;
    display: inline-block;
    width: 100%;
    height: 370px;
    overflow-y: scroll;
    overflow-x: hidden;
    vertical-align: bottom;

    > div {
      margin-bottom: 17px;
      display: inline-block;
      line-height: 1.4;
      width: 100%;

      .bg {
        position: relative;
        padding: 6px 16px;
        display: inline-block;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        max-width: calc(100% - 75px);
      }

      &.service {
        .bg {
          background-color: #eceded;
        }

        span {
          right: -5px;
          bottom: 0;
          transform: translate(100%, 0) scale(0.7);
          -webkit-transform: translate(100%, 0) scale(0.7);
          -moz-transform: translate(100%, 0) scale(0.7);
          -ms-transform: translate(100%, 0) scale(0.7);
          -o-transform: translate(100%, 0) scale(0.7);
          transform-origin: left center;
        }
      }

      &.user {
        .bg {
          background-color: #b0e5f4;
          float: right;
        }

        span {
          left: -5px;
          bottom: 0;
          transform: translate(-100%, 0) scale(0.7);
          -webkit-transform: translate(-100%, 0) scale(0.7);
          -moz-transform: translate(-100%, 0) scale(0.7);
          -ms-transform: translate(-100%, 0) scale(0.7);
          -o-transform: translate(-100%, 0) scale(0.7);
          transform-origin: right center;
        }
      }

      p {
        color: #000;
        font-size: 14px;
      }

      span {
        color: #999;
        position: absolute;
        max-width: 190px;
        font-size: 11px;
      }
    }
  }

  .text_area {
    border-top: solid 0.3px #959596;
    background-color: #fff;
    padding: 10px 16px;
    justify-content: space-between;
    align-items: center;

    .upload,
    .send {
      width: 18px;

      img {
        cursor: pointer;
      }
    }

    textarea {
      width: calc(100% - 50px);
      background-color: #fff;
      color: #000;
      resize: none;
      border-color: #eceded;
      margin-bottom: 0;
      border-radius: 15px;
      padding: 5px 16px;
      font-size: 14px;

      &.blank {
        background-color: #eceded;
        color: #737373;
      }
    }
  }
}
